@import url('https://fonts.googleapis.com/css?family=Almendra:700i');

body{
    background-image: url("http://i.imgur.com/jhGO8A0.jpg?1");
    background-size: cover;
}

.header{
   margin-top : 5%;
    
   }

h1{
    font-family: 'Almendra', serif;
    font-size: 100px;
    text-align: center;
    color: coral;
    text-shadow: 3px 3px 0 white;  
    

}

.buttons{
    background-color: rgb(97, 12, 100);
    border-radius: 10%;
    position: absolute;
    margin: 2% 60% 2% 45%;
    font-size: 20px;
    padding: 5px 10px;
    color: rgb(209, 218, 91);

}

#dRules{
    padding: 0 18px;
    position: absolute;
    top : 40%;
}

#pRules{
    text-align: center;
    font-family: 'Almendra',serif;
    font-size: 20px;
    line-height: 30px;
    color : rgb(53, 17, 2);
}

#container{
    text-align: center;
    position : absolute; 
    width:100%;
    top : 45%;
    font-family : Georgia, 'Times New Roman', Times, serif;
    font-style : italic;
    height: 30%;
} 
/* #numDisplay{
    text-align: center;
    position : absolute; 
    width:100%;
    top : 45%;
    font-family : Georgia, 'Times New Roman', Times, serif;
    font-style : italic;
    
} */

/* #numberLabel{
    padding: 10px 0;
    color :#ff3300;
    font-size : 20px;
} */

.label{
    padding: 10px 0;
    color :#ff3300;
    font-size : 20px;    
}

/* #randNumber{
    font-size: 25px;
    color :red;
    padding: 15px 0;} */

#grid{
    display: grid;
    position: absolute;
    grid-template-columns:repeat(4,100px);
    grid-gap: 25px;
    top:60%;
    width: 100%;
    margin-left: 35%;

}

.imgCrystal{
    height: 100px;
    width: 100px;
}

.numberText{
    font-size: 25px;
    color :red;
    padding: 15px 0
}

#results{
    position: absolute;
    top : 90%;
}