@import url('https://fonts.googleapis.com/css?family=Almendra:700i');

body{
    background-image: url("http://i.imgur.com/jhGO8A0.jpg?1");
    background-size: cover;
}

.header{
   margin-top : 5%;
    
   }

h1{
    font-family: 'Almendra', serif;
    font-size: 100px;
    text-align: center;
    color: coral;
    text-shadow: 3px 3px 0 white;  
    

}

.sectionRules {
    width : 100%;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    background-color: rgb(97, 12, 100);
    border-radius: 10%;
    position: absolute;
    margin: 2% 60% 2% 45%;
    font-size: 20px;
    padding: 5px 10px;
    color: rgb(209, 218, 91);

}

#dRules{
    padding: 0 18px;
    position: absolute;
    top : 40%;
}

#pRules{
    text-align: center;
    font-family: 'Almendra',serif;
    font-size: 20px;
    line-height: 30px;
    color : rgb(53, 17, 2);
}

#container{
    text-align: center;
    position : absolute; 
    width:100%;
    top : 45%;
    font-family : Georgia, 'Times New Roman', Times, serif;
    font-style : italic;
    height: 30%;
} 
#numDisplay{
    width : 35%;
    margin-left: 30%;
    margin-right: 30%;
    
}

/* #numberLabel{
    padding: 10px 0;
    color :#ff3300;
    font-size : 20px;
} */

.label{
    padding: 10px 0;
    color : black;
    font-size : 20px;    
    font-weight: bold;
   ;
}

/* #randNumber{
    font-size: 25px;
    color :red;
    padding: 15px 0;} */

#grid{
    display: grid;
    position: absolute;
    grid-template-columns:repeat(4,100px);
    grid-gap: 25px;
    top:60%;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;

}

.imgCrystal{
    height: 100px;
    width: 100px;
}

.numberText{
    font-size: 25px;
    color :rgb(255, 2, 2);
    padding: 15px 0
}

#results{
    position: absolute;
    top : 90%;
    width: 70%;
    margin-top: 40px;
    margin-left:10%;
    margin-right: 30%;
    padding: 20px;
}


#pWins, #pLose{
    position: absolute;
    width : 50%;  
    text-align: center;
}

#pWins {
    left:0;
}

#pLose{
    right : 0;
}

.btnCrystals{
    height: 120px;
    width: 120px;
    border: 1px solid rgb(35, 4, 170);
    background: linear-gradient(to top left, #3399ff 0%, #cc66ff 100%);
    border-radius: 10px;
}

/* #numDisplay, #grid, #results{
    width:100%;
    margin-left: auto;
    margin-right: auto;
} */


.alertModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20%;
    right: 25%;
    top: 20%;
    width: 60%; /* Full width */
    height: 100%; /* Full height */
    
}

 .modal-header {
    background: linear-gradient(to top left, #0000ff 0%, #00ffff 100%);
    margin: 10%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    height:10%;
    border-radius: 10px;
  }

  #alertId{
      position: absolute;
      left:20%;
      margin:10px;
      font-size: 16px;
      font-family: 'UnifrakturMaguntia', cursive;
      overflow-wrap: break-word;
      text-align: center;

  }

#divBtnAlert{
    top : 22%;
    position: absolute;
    width: 100%;
    left: 5%;
}
  #btnYes{
      position: absolute;
      left :45%;
  }

  #btnNo{

        position: absolute;
        left :60%;
  }